.section.contact{
  max-width: 500px !important;
}
.contact-title{
  margin-bottom: 20px;
}
.form_input label{
  margin-bottom: 5px;
}
.form_input{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form_input input{
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 10px;
  color: var(--black-10);
}
input{
  background-color: transparent;
}
.form_input p{
  color: var(--error);
  font-size: 0.9rem;
}
.form_button button{
  background-color: var(--primary);
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}
.form_button button:hover{
  background-color: var(--primary-hover);
  cursor: pointer;
}
.info p{
  font-size: 1.1rem;
  font-weight: 600;
}