<section class="section">
  <div class="section-title">
    <div class="block">
      <h2>Nowości</h2>
    </div>
  </div>
  <div class="section-content news">
    <div class="block" *ngFor="let item of items" (click)="handlePage(item.ID)">
      <div class="block-image">
        <img src={{item.img}} alt={{item.imgAlt}}/>
      </div>
      <div class="block-title">
        <h3>
          {{item.title}}
        </h3>
      </div>
      <div class="block-date">
        <p>
          {{item.date}}    
        </p>
      </div>
      <div class="block-desc">
        <p>
          {{item.description}}
        </p>
      </div>
      <!-- <a routerLink="/nowosci" routerLinkActive="active" >
        <span>
          Nowości
        </span>
      </a> -->
    </div>
  </div>
  <div class="section-pagination">
    <div class="pagination-btn arrow" *ngIf="activePagination !== 1">
      <button (click)="handleSort(activePagination-1)"><i class="fa-solid fa-chevron-left"></i></button>
    </div>
    <ng-container *ngFor="let item of paginationArray | keyvalue">
      <div class="pagination-btn" [ngClass]="{active: item.value == activePagination}">
        <button (click)="handleSort(item.value)">{{item.value}}</button>
      </div>
    </ng-container>
    <div class="pagination-btn arrow" *ngIf="activePagination !== pagination">
      <button (click)="handleSort(activePagination+1)"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
  </div>
</section>
