<nav>
  <div class="nav-block">
    <div class="nav-block_links" [ngClass]="{active: menu}">
      <div class="one">
        <div class="nav-block_logo">
          <a href="">LOGO</a>
        </div>
        <div class="nav-block_icon">
          <i class="fa-solid fa-bars" (click)="menu = !menu"></i>
        </div>
      </div>
      <div class="two">
        <div class="icon">
          <i class="fa-solid fa-sun" (click)="toggleDarkTheme()" *ngIf="isDark; else isDarkOut"></i>
        </div>
        <ng-template #isDarkOut>
          <i class="fas fa-moon" (click)="toggleDarkTheme()"></i>
        </ng-template>
        <ng-container *ngFor="let item of navList">
          <a routerLink={{item.href}} routerLinkActive="active" >
            <span>
              {{item.name}}
            </span>
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
