<section id="news">
  <div class="title">
  <h2>Nowości</h2>
  </div>
  <div class="section-block">
    <div class="section-block_image">
      <img src="../../assets/image/4060ti.jpg" alt="rtx4060ti"/>
    </div>
    <div class="section-block_title">
      <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h3>
    </div>
    <div class="section-block_desc">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero nihil corporis labore dolorum tenetur, blanditiis esse, distinctio tempora praesentium voluptate minima maxime ipsum officia non fugiat quibusdam modi qui possimus.
      </p>
    </div>
  </div>
  <div class="section-block">
    <div class="section-block_image">
      <img src="../../assets/image/4060ti.jpg" alt="rtx4060ti"/>
    </div>
    <div class="section-block_title">
      <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h3>
    </div>
    <div class="section-block_desc">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero nihil corporis labore dolorum tenetur, blanditiis esse, distinctio tempora praesentium voluptate minima maxime ipsum officia non fugiat quibusdam modi qui possimus.
      </p>
    </div>
  </div>
</section>
