.block-image img{
  width: 100%;
}
.section-content{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.section-pagination{
  display: flex;
  justify-content: flex-end;
}
.pagination-btn {
  margin-left: 5px;
}
.pagination-btn button{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--border);
}
.pagination-btn.active button{
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--text-light);
}
@media screen and (min-width: 768px){
  .section-content{
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
} 