/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --black-20: hsl(0, 0%, 20%);
  --gray-60: hsl(0, 0%, 60%);
  --white-1: hsl(260, 20%, 97%);
  --white-2: hsl(260, 0%, 90%);

  --border: hsl(0, 0%, 70%);
  --box-shadow: hsl(235, 15%, 20%);

  --text-light: hsl(0, 20%, 97%);
  --text-dark: hsl(0, 0%, 20%);

  --primary: hsl(204, 93%, 44%);
  --primary-hover: hsl(204, 80%, 50%);
}
html{
  height: 100%;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-gray);   
  color: var(--text-dark);
  height: 100%;
  background-color: var(--white-1);
}
body.dark-theme{
  --white-1: hsl(0, 0%, 24%);
  --white-2: hsl(0, 0%, 20%);
  --text-dark: hsl(0, 20%, 97%);
  --box-shadow: hsl(0, 0%, 40%);
}
/* Global style */
a{
  text-decoration: none;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.section{
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
}
.section-title{
  display: flex;
  justify-content: flex-start;
}
.block{
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 12px -6px var(--box-shadow);
  background-color: var(--white-2);
  margin-bottom: 20px;
  width: 100%;
}
@media screen and (min-width: 768px){
  section{
    max-width: 1200px !important;
  }
}
@media screen and (min-width: 1024px){
  /* .block{
    padding: 20px;
  } */
}